.leaderboard {
  margin: 2rem auto;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard-tabs {
  display: inline-block;
  text-align: center;
}

.leaderboard-btn {
  cursor: pointer;
  border: 0;
  padding-bottom: 0.7em;
  margin-top: 0.6em;
  padding-right: 0.6em;
  font-size: 1.5em;
  color: black;
  background-color: none;
}

.leaderboard-btn:hover,
.leaderboard-btn:focus {
  color: hsl(29, 97%, 55%);
}

.leaderboard-header-container {
  display: flex;
  padding: 6px;
  color: white;
  background: rgb(63, 63, 63);
  font-weight: normal;
}

.leaderboard-header-items {
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.leaderboard-items-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-bottom: 0.5px rgb(63, 63, 63) solid;
  border-left: 0.5px rgb(63, 63, 63) solid;
  border-right: 0.5px rgb(63, 63, 63) solid;
  border: 1px rgb(63, 63, 63) solid;
  background-color: rgb(255, 255, 255);
}

.leaderboard-items {
  flex: 1;
  /* padding: 10px 6px; */
  background-color: rgb(255, 255, 255);
}

.leaderboard-icons {
  flex: 1;
  background-color: rgb(255, 255, 255);
  width: 4em;
  padding: 0 0;
  margin: 0 0;
}
