.upcoming-games {
  margin: 2rem auto;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border: 2px solid red; */
}

.upcoming-games-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-module {
  margin: 0 auto;
}

.vote-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.1rem;
  width: 2.8rem;
  margin: 0;
  padding: 0;
}

.vote-locked-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.1rem;
  width: 2.8rem;
  margin: 0;
  padding: 0;
  background-color: rgb(144, 205, 255);
  border: 2px solid rgb(57, 142, 240);
  border-radius: 10px;
  cursor: no-drop;
}

.voted-for {
  background-color: rgb(110, 255, 110);
  border: 2px solid rgb(69, 190, 69);
  border-radius: 10px;
}

.voted-for:hover {
  box-shadow: 2px 4px 5px grey;
  cursor: pointer;
  border: 2px solid rgb(2, 95, 2);
}

.not-voted-for {
  font-size: 0.8em;
  color: gray;
  background-color: rgb(243, 243, 243);
  border: 2px solid gray;
  border-radius: 10px;
}

.not-voted-for:hover {
  box-shadow: 2px 4px 5px grey;
  cursor: pointer;
  border: 2px solid rgb(44, 44, 44);
  background-color: rgb(110, 255, 110);
  font-size: 0.9rem;
  color: green;
  border: 2px solid green;
}

.game-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.dropdown-container-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.dropdown-box {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-family: inherit;
}

.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.games-select-date {
  display: flex;
  width: 100%;
  /* border: 2px solid purple; */
}

.game {
  font-size: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* padding: 5px, 5px; */
  /* margin-bottom: 5em; */
  border: 1.5px solid #cfcfcf;
  /* width: 100rem; */
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  min-width: 22.5rem;
}

.pred-win {
  background-color: rgb(255, 150, 44);
  border-radius: 10px;
}

.pred-lose {
  background-color: rgb(255, 203, 153);
  border-radius: 10px;
}

.logo-games {
  padding: 0;
}

.logo-img {
  width: 4em;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* .game:hover {
border: 2px solid rgb(180, 180, 180);
} */

.game-body {
  text-align: center;
}

.team-score {
  padding-left: auto;
  padding-right: auto;
}

.score {
  padding-left: auto;
  padding-right: auto;
}

.logo-left {
  /* border: 1px solid red; */
  text-align: left;
}

.team-name-left {
  /* border: 1px solid green; */
  text-align: left;
}
