.upcoming-games{
    margin: 80px auto;
    padding-left: 5%;
    padding-right: 5%;  
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
    
  .upcoming-games-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
 
  .game{
    font-size: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 5px, 5px;

    cursor: pointer;
  }

  .game:hover{
      opacity: 0.7;
  }

  .pred{
      width: 10%;
  }

  .game-body{
      text-align: center;
  }

  .team-score{
      padding-left: 15px;
      padding-right: 15px;
      
  }
  
 .date-h3{
     padding-top: 35px;
     font-size: 16px;
 }


 
 

  @media only screen and (min-width: 1000px) {
    .upcoming-games{
      margin: 80px auto;
      padding-left: 20%;
      padding-right: 20%;  
      padding-top: 1rem;
      padding-bottom: 1rem;
    }  
  }
  
  
  
  
  