* {
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
  margin: 0;
  font-family: Montserrat, sans-serif;

  --title-duration: 500ms;
  --sub-title-duration: 500ms;
  --nav-duration: 200ms;

  --sub-title-delay: calc(var(--title-duration) - 200ms);
  --nav-delay: calc(var(--sub-title-delay) + var(--sub-title-duration));
}

.app-name-header {
  color: hsl(0, 0%, 91%);
  font-size: 3rem;
  padding-left: 2rem;
}

.nav {
  display: flex;
  /* Can change this justify to allow buttons and header logo to be more centered */
  justify-content: space-between;
  align-items: center;
  background-color:rgb(63, 63, 63);
  padding: .75rem 1rem;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  animation: nav-enter var(--nav-duration) var(--nav-delay) backwards;
}

.logo {
  width: 2.7rem;
  padding-right: 0.5rem;
}

/* Style the tab buttons */
.nav-tabs {
  background-color: rgb(63, 63, 63);
  color: rgb(240, 240, 240);
  cursor: pointer;
  border-radius: 1rem;
  
  border: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* Change background color of buttons on hover */
.nav-tabs:hover {
  color: hsl(29, 97%, 45%);
  /* background-color: #777; */
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: rgb(240, 240, 240);

  transition: color 150ms;
}

.nav-list a:hover {
  color:rgb(161, 161, 161);
}

.animation-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  padding-top: 5rem;

  animation: title-enter var(--title-duration);
}

.sub-title {
  font-size: 1.5rem;

  animation: sub-title-enter var(--sub-title-duration) var(--sub-title-delay) backwards;
}

.btn {
  cursor: pointer;
  border-radius: 1em;
  
  border: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
  margin-left: 0.5em;
  font-size: 1em;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.login {
  color: hsl(28, 33%, 97%);
  background-color:hsl(29, 97%, 55%);
}

.login:hover,
.login:focus {
  color: hsl(28, 33%, 87%);
  background-color: hsl(29, 97%, 45%);
}

.signup {
  color: hsl(36, 12%, 26%);
  background-color:hsl(36, 7%, 84%);
}

.signup:hover,
.signup:focus {
  color: hsl(36, 12%, 16%);
  background-color:hsl(36, 7%, 74%);
}

@keyframes title-enter {
  from {
    transform: translateX(-100vw);
  }
}

@keyframes sub-title-enter {
  from {
    transform: translateX(100vw);
  }
}

@keyframes nav-enter {
  from {
    transform: translateY(-100%);
  }
}

@media (max-width: 700px) {
  .full-screen-header {
    background-position-x: 65%;
  }
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
